<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">Stucco Plasterer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="root.home"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About Us</a></li>
                <li>
                    <a ui-sref="root.contact"><span class="glyphicon glyphicon-phone"></span> Contact Us</a>
                </li>
                <li><a ui-sref="root.testimonials"><span class = "glyphicon glyphicon-list-alt"></span> Testimonials</a></li>
                <li><a ui-sref="root.gallery"><span class = "glyphicon glyphicon-picture"></span> Gallery</a></li>
            </ul>
        </div>
    </div>
</nav>
